#content
  #top 
    - @goals.each do |goal|
      #div.chart
        #chart_view
          %img{ :src => goal.chart }
        #chart_control
          %form{ :action => "/goal/#{ goal.id }", :method => 'post' }
            %input{ :type => 'hidden',:name => '_method', :value => 'put' }

            %label{ :for => 'goal_name' }

            %input{ :id  => 'goal_name', :type  => 'text', :name  => 'goal[name]', :value => goal.name }

            %label{ :for => 'goal_exectation' }
              Expectation  
            %input{ :id  => 'goal_expectation', :type  => 'text', :name  => 'goal[expectation]',:value => goal.expectation }

            %label{ :for => 'goal_actual' }
              Actual 
            %input{ :id  => 'goal_acutal', :type  => 'text', :name  => 'goal[actual]', :value => goal.actual }

            %button{ :id  => 'goal_submit', :type => 'submit', :style => 'float:left;' }
              Update

          %form{ :action => "/goal/#{ goal.id }", :method => 'post' }
            %input{ :type => 'hidden',:name => '_method', :value => 'delete' }
            %button{ :type => 'submit', :style => 'float:right;'}
              Delete
  #bottom
    #goal_panel
      %a{ :href => '/goals/new' } new goal 
      %a{ :href => '/' } index

