#content
  %iframe{ :id => 'google_cal', :src => "http://www.google.com/calendar/embed?showTitle=0&amp;showTz=0&amp;height=700&amp;wkst=1&amp;bgcolor=%23E8E8E8&amp;src=69qmfdu2gt4ech2j4gg5ucpao4%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=le52hhsv23mgpis9jrbul3lsn0%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FChicago", :style => " border-width:0 ", :width => "900", :height => "700", :frameborder => "0", :scrolling => "no" }
