#content
  .center
    - @goals.each do |goal|
      .chart
        %img{ :src  => goal.chart }
        %h2
          - goal.name.split.each do |word|
            = word
            %br
        %p
          = "actual: $" + goal.actual
          %br
          = "as of: "  + goal.as_of if goal.as_of 
          %br
