!!!
%html
  %head
    %title= SiteConfig.title
    %link{ :href => '/style.css', :type => 'text/css', :rel => 'Stylesheet'}
    %script{ :src => '/jquery.js', :type => 'text/javascript' }
    %script{ :src => '/application.js', :type => 'text/javascript'  }
  %body
    = yield
