#content
  .center
    %form{ :action => '/goals', :method => 'post', :name  => 'new_goal' }
      %fieldset
        %label{ :for => 'goal_name' }
          Name of Goal
        %input{ :id  => 'goal_name', :type  => 'text', :name  => 'goal[name]' }

        %label{ :for => 'goal_exectation' }
          Expectation  
        %input{ :id  => 'goal_expectation', :type  => 'text', :name  => 'goal[expectation]' }

        %label{ :for => 'goal_actual' }
          Actual 
        %input{ :id  => 'goal_acutal', :type  => 'text', :name  => 'goal[actual]' }
        %br
        %input{ :id  => 'goal_submit', :type => 'submit', :value  => "add goal" }
        or
        %a{ :href => '/goals' } go back
