body {
  margin:0;
  padding:0;
  background-color:#E8E8E8;
  font-family:arial;
}
h1 {
}
h2 {
  margin:0;
  padding:0;
  text-align:left;
  font-size:15px;
}
a {
  color:#292929;
}
.center fieldset {
  border:none;
  text-align:center;
}
.center input {
  margin:10px 0 10px 0;
}
.center input[type=text] {
  font-size:18px;
}
label {
  display:block;
  color:#A2A2A2;
  font-size:14px;
}
#navigation {
  height:50px;
  background-color:#333333;
  color:#CCCCCC;
}
#navigation a {
  color:#333366;
  float:left;
  padding:10px 0 0 0;
  text-align:center;
  width:100px;
  height:38px;
  background-color:#666666;
  border-top:1px solid #333333;
  border-right:1px solid #333333;
  border-bottom:1px solid #333333;
}
#navigation a:hover {
  color:#cccccc;
}
#menu {
  text-align:center;
  background-color:#333333;
  height:130px;
  border-top: 5px solid #666666;
}
#dock {
  width:500px;
  margin:20px auto;
}
.dock_item {
  color:#666666;
  margin:0 20px 0 20px;
  float:left;
}
#container {
}
#content {
  width:900px;
  margin:0 auto;
}
#top {
  height:400px;
}
#bottom {
  color:#CCCCCC;
  background-color:#333333;
  height:100px;
  width:100%;
  clear:both;
}
#bottom a {
  color:#CCCCCC;
}
.chart {
  width:160px;
  float:left;
  margin:20px 0 0 50px;
}
.chart h2 {
  margin:0 0 0 30px;
}
.center {
  width:600px;
  margin:0 auto;
}
.center .chart {
  width:100px;
}
#chart_view {
}
#chart_control {
  margin:20px 0 0 0;
}
#goal_panel {
}
